---
import Layout from '@layouts/Layout.astro';
import ProductInfo from '@components/ProductInfo.astro';
import Features from '@components/Features.astro'
import Variety from '@components/Variety.astro';
import Testimonials from '@components/Testimonials.astro';
import BuyProduct from '@components/BuyProduct.astro';
---

<Layout title="Café Épico">
	<main class="flex-1">
		<ProductInfo />
		<Features />
		<Variety />
		<Testimonials />
		<BuyProduct />
	</main>
</Layout>


