---
import Layout from '@layouts/Layout.astro';
import ProductInfo from '@components/ProductInfo.astro';
import Features from '@components/Features.astro'
import Testimonials from '@components/Testimonials.astro';
import BuyProduct from '@components/BuyProduct.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex-1">
		<ProductInfo />
		<Features />
		<Testimonials />
		<BuyProduct />
	</main>
</Layout>


