---
type Variant = 'primary' | 'secondary' | 'disabled';
// Button.astro
const { variant = "primary", children, onClick, disabled = false } = Astro.props;

// Define estilos para cada variante
const buttonStyles = {
  primary: "bg-blue-500 text-white hover:bg-blue-700",
  secondary: "bg-gray-500 text-white hover:bg-gray-700",
  disabled: "bg-gray-300 text-gray-500 cursor-not-allowed",
};

const className = disabled ? buttonStyles.disabled : buttonStyles[variant as Variant];
---

<button
  class={`py-2 px-4 rounded ${className}`}
  onclick={!disabled ? onClick : undefined}
  disabled={disabled}
>
  {children}
</button>
