---
import 'material-icons/iconfont/material-icons.css';
import Carrousel from "@components/Carrousel.astro";
---
<section id="features" class="w-full pt-12 pb-14 md:pt-24 md:pb-16 lg:pt-32 lg:pb-24 bg-white">
  <div class="w-full px-4 md:px-6 items-center">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12">
      Nuestra Esencia
    </h2>
    <Carrousel />
    <!-- <div class="grid gap-6 lg:grid-cols-[1fr_700px] ">
      <Image
        alt="Taza de café épico"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover sm:w-full lg:order-first lg:aspect-square"
        height="350"
        src="/features.webp"
        width="350"
        loading="lazy"
      />
    <div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
      <Card>
        <CardContent className="flex flex-col items-center space-y-4 p-6">
          <span class="material-icons text-yellow-500" style="font-size: 80px;">emoji_events</span>
          <h3 class="text-xl font-bold">Origen</h3>
          <p class="text-center text-gray-500">
            Originario de Colombia, es una mezcla de café Typica, Bourbon y Timor Hybrid. Esta combinación fue desarrollada por el Centro Nacional de Investigaciones de Café (Cenicafé)
          </p>
        </CardContent>
      </Card>
      <Card>
        <CardContent className="flex flex-col items-center space-y-4 p-6">
          <span class="material-icons text-brown-500" style="font-size: 80px;">coffee</span>
          <h3 class="text-xl font-bold">Tostado Artesanal</h3>
          <p class="text-center text-gray-500">
            Tostado en pequeños lotes para garantizar la máxima frescura y calidad.
          </p>
        </CardContent>
      </Card>
    </div>
    </div> -->
  </div>
</section>
