<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
  <p class="text-xs text-gray-500">© 2024 Café Épico. Todos los derechos reservados.</p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a href="https://www.instagram.com/cafe_epicojordan/profilecard/?igsh=ZTV2OXV6bGE3Ymlm" target="_blank">
      <i class="fab fa-instagram text-gray-500" style="font-size: 30px;"></i>
    </a>
    <a href="https://youtube.com/@cafe_epicojordan?si=nv_zNc083BMMcXG6" target="_blank">
      <i class="fab fa-youtube text-gray-500" style="font-size: 30px;"></i>
    </a>
  </nav>
</footer>
