<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
  <p class="text-xs text-gray-500">© 2024 Café Épico. Todos los derechos reservados.</p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a class="text-xs hover:underline underline-offset-4" href="#">
      Términos de Servicio
    </a>
    <a class="text-xs hover:underline underline-offset-4" href="#">
      Política de Privacidad
    </a>
  </nav>
</footer>
