<style>
  /* Estilo global para el desplazamiento suave */
  html {
    scroll-behavior: smooth;
  }
</style>
<header class="fixed top-0 left-0 px-4 lg:px-6 h-14 flex items-center w-full bg-white bg-opacity-90 backdrop-blur-sm z-20">
  <a class="flex items-center justify-center" href="#product-info">
    <img 
      src="/logo.png"
      alt="Logo café épico"
      width="70"/>
    <!-- <span class="font-bold font-custom">Café Épico</span> -->
  </a>
  <nav class="ml-auto flex gap-4 sm:gap-6">
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#features" class="smooth-scroll">
      Nuestra Esencia
    </a>
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#variety" class="smooth-scroll">
      Variedades
    </a>
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#testimonials" class="smooth-scroll">
      Testimonios
    </a>
    <a class="text-sm font-medium hover:underline underline-offset-4" href="#cta" class="smooth-scroll">
      Comprar
    </a>
  </nav>
</header>

<script>
  // Agrega desplazamiento suave con JavaScript si el navegador no soporta CSS smooth scroll
  document.querySelectorAll('.smooth-scroll').forEach(function (this: HTMLAnchorElement, anchor) {
  anchor.addEventListener('click', function (this: HTMLAnchorElement, e) {
    e.preventDefault();
    const targetID = this.getAttribute('href')?.substring(1)  ?? '';
    const targetElement = document.getElementById(targetID);

    if (targetElement) {
      window.scrollTo({
        top: targetElement.offsetTop,
        behavior: 'smooth',
      });
    }
  });
});
</script>
