---
import Image from "astro/components/Image.astro";
import Link from "./Link.astro";
import { generateWhatsAppLink } from "@lib/utils";

const message = "Hola, quiero más información sobre Café Épico.";
const whatsappLink = generateWhatsAppLink(message);
---

<section id="product-info" class="w-full py-12 md:py-24 lg:py-32 xl:py-48 bg-black text-white">
  <div class="w-full px-4 md:px-6">
    <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
      <Image
        alt="Taza de café épico"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover sm:w-full lg:order-last lg:aspect-square"
        height="550"
        src="/cafe-epico.webp"
        width="550"
      />
      <div class="flex flex-col justify-center space-y-4">
        <div class="space-y-2">
          <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none font-custom italic">
            Descubre el Café Épico
          </h1>
          <p class="max-w-[600px] text-gray-300 md:text-xl">
            Una experiencia de sabor inigualable que despertará tus sentidos y elevará tus mañanas.
          </p>
          <p class="max-w-[600px] text-gray-300 md:text-xl font-bold">
            Café Épico, sabor que conquista
          </p>
        </div>
        <div class="flex flex-col gap-2 min-[400px]:flex-row">
          <Link href={whatsappLink} variant="secondary" target="_blank">Más información</Link>
        </div>
      </div>
    </div>
  </div>
</section>
